{% load staticfiles %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        .border_row {
            border: 1px solid orange;
            margin: 12px;
            border-radius: 5px;
        }
        form {
            margin: 15px;
            border: 1px solid green;
            padding: 5px;
            border-radius: 2px;
        }
        #copyButton {
            color:green;
            height:200px;
            width:100%;
        }
    </style>
    <script src="dish_index.js">
    </script>

</head>
<body>
<br>

<div class="container">
    <div class="row">
        <!--label>Ім'я</label>
    <input id="person"  type="text" value=""-->
            <form style="float:left;">
        <label for="">Супи {{ soup_price }}</label>
                <input type="button" id="soupClear" value="Очистити"/>
    <fieldset id="soup_group">
        <input type="radio" name="soup"  checked value="0">Null/Нічого<br>
        {% for soup in all_soup %}
            <input type="radio" name="soup" value="{{ soup.id }}">{{ soup.name }}<br>
        {% endfor %}
    </fieldset>
    </form>


            <form >
        <label for="">Брускети {{ bruschetta_price }}</label>
                <input type="button" id="bruschettaClear" value="Очистити"/>
    <fieldset id="bruschetta_group">
        <input type="radio" name="bruschetta" checked value="0">Null/Нічого<br>
        {% for bruschetta in all_bruschettas %}
            <input type="radio" name="bruschetta" value="{{ bruschetta.id }}">{{ bruschetta.name }}<br>
        {% endfor %}
    </fieldset>
    </form>
    </div>
</div>


<div class="container" style="border">
    <div class="row">

        <div class="container border_row" >
            <div class="row" >
                <label style="margin:7px; " for="">Вартість цього набору - {{ main_price }}</label>
            </div>

            <div class="row" style="border">
                <form>
                        <label for="">Основні страви </label>
                <input type="button" id="main_dishClear" value="Очистити"/>
                    <fieldset id="main_group">
                    <input type="radio" name="main_dish" checked value="0">Null/Нічого<br>
                    {% for main in all_mains %}
                        <input type="radio" name="main_dish" value="{{main.id}}">{{ main.name }}<br>
                    {% endfor %}
                </fieldset>
                </form>

                <form>
                            <label for="">Соуси</label>
                    <input type="button" id="sauce_dishClear" value="Очистити"/>
                <fieldset id="sauce_group">

                    <input type="radio" name="sauce_dish" checked value="0">Null/Нічого<br>
                    {% for sauce in all_sauces %}
                        <input type="radio" name="sauce_dish" value="{{sauce.id}}">{{ sauce.name }}<br>
                    {% endfor %}
                </fieldset>
                </form>

                <form>
                        <label for="">Гарніри</label>
                    <input type="button" id="side_dishClear" value="Очистити"/>
                <fieldset id="side_group">
                    <input type="radio" name="side_dish" checked value="0">Null/Нічого<br>
                    {% for side in all_sides %}
                        <input type="radio" name="side_dish" value="{{side.id}}">{{ side.name }}<br>
                    {% endfor %}
                </fieldset>
                </form>

                <form>
                        <label for="">Напої</label>
                    <input type="button" id="drinkClear" value="Очистити"/>
                <fieldset id="drink_group">
                    <input type="radio" name="drink" checked value="0">Null/Нічого<br>
                    {% for drink in all_drinks %}
                        <input type="radio" name="drink" value="{{drink.id}}">{{ drink.name }}<br>
                    {% endfor %}
                </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
            <form>
            <label for="">Салати</label>
                <input type="button" id="saladClear" value="Очистити"/>
<fieldset id="salad_group">
    <input type="radio" name="salad" checked value="0">Null/Нічого<br>
    {% for salad in all_salads %}
    <input type="radio" name="salad" value="{{ salad.id }}">{{ salad.name }}<span> - {{ salad.cost }} </span><br>
    {% endfor %}
</fieldset>
</form>

            <form>
                <label for="">Додатково {{ addon_price }}</label>
                <input type="button" id="addonClear" value="Очистити"/>
        <fieldset id="addon_group">
            <input type="radio" name="addon"  checked value="0">Null/Нічого<br>
            {% for addon in all_addons %}
                <input type="radio" name="addon" value="{{ addon.id }}">{{ addon.name }}<br>
            {% endfor %}
        </fieldset>
        </form>
    </div>
</div>


<div class="container">
    <div class="row">
        <label style="margin-left:5px;" for="">Загалом:</label>
    </div>

    <div class="row">

        <textarea id="copyTarget" name="final"  style="width:400px;height:200px;">
        </textarea>
        <!--button id="copyButton">Копіювати</button-->


       <div class="col" >
           <button id="copyButton">Копіювати в буфер обміну</button>
       </div>

        <!--button id="sendDinner">Відправити у обіди</button-->
        <!--label style="color:green;" id="status">Статус відправки замовлення у групу: </label-->
    </div>
    <div class="row"><label style="color:green;margin-left:5px;" id="sum">Сума: </label></div>
</div>

</body>

